# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.exe
# Certificates & keys
certs/*.key
certs/*.crt
certs/*.pem

# User VPN files
*.ovpn
*.key
*.crt